.row {
  display: table-row;
}

.heading {
  display: table-header-group;
}

.cell, .tableHead {
  display: table-cell;
}

.body {
  display: table-row-group;
}

.table {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  font-family: arial, serif;
  font-style: normal;
  border-collapse: collapse;
  display: table;
  box-sizing: border-box;

  .cell, .head {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;

    textarea {
      width: 100%;
      height: 100%;
      resize: none;
      box-sizing: border-box;
    }
  }

  .body .cell {
    font-size: 15px;
    word-break: break-all;
    vertical-align: top;
    height: 50px;
  }

  .row:nth-child(even) {
    background: #D0E4F5;
  }

  .heading {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-left: 2px solid #D0E4F5;

    .head {
      font-size: 15px;
      font-weight: bold;
      color: #FFFFFF;
      border-left: 2px solid #D0E4F5;

      display: table-cell;

      &first-child {
        border-left: none;
      }
    }
  }
}
